#game {
    position: absolute;
    display: block;
    width: 3840px;
    height: 2160px;
    background-position-y: bottom;
    background-image: "none";
    top: 0px;

}

.bg {
    width: 100%;
    height: 160px;
    background-repeat: repeat-x;
    background-size: 320px 160px;
    display: block;
    position: fixed;
}

#bg1 {
    background-image: url("./.././../game/clouds.png");
    background-color: rgb(30, 24, 66);
    background-attachment: fixed;
}

.mini2 {
    width: 100px;
    height: 100px;
    filter: brightness(0.8);
    border: ridge rgb(26, 14, 3) 6px;
    /*-webkit-box-shadow:
        0px 0px 0.8em 0px var(--glow-color);
    -moz-box-shadow:
        0px 0px 0.8em 0px var(--glow-color);
    box-shadow:
        0px 0px 0.8em 0px var(--glow-color);
    animation: border-flicker 4s linear infinite;*/


}

.expand {
    width: 320px;
    height: 320px;
    margin-left: -110px;
    margin-top: -110px;

}

#predio {
    width: 1920px;
    height: 1080px;
    background-image: url("./../game/grama.png");
}

.door {
    border-bottom-color: black;
    border-bottom-width: 4px;
    display: "inline-block";
    position: "absolute";
    text-align: "center";
    width: "90px";
    height: "140px";
    background-color: "#100505";
    border-radius: "4px";
    border: "3px  #181000 solid";
    color: "#907000";
    bottom: "-4px";
}

.room {
    width: 320px;
    height: 320px;
    background-color: aqua;
    border: 4px red solid;
    position: absolute;
    display: block;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
    --glow-color: hsl(50 100% 60%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.glowing-btn {
    z-index: 1;
    position: absolute;
    top: -180px;
    left: 180px;
    height: 180px;
    width: 100px;
    color: var(--glow-color);
    cursor: pointer;
    padding: 1em 1.4em;
    border: 0.1em solid var(--glow-color);
    text-align: center;
    background: none;
    perspective: 10em;
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 0.8em;

    -webkit-box-shadow: inset 0px 0px 0.8em 0px var(--glow-color),
        0px 0px 0.8em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.8em 0px var(--glow-color),
        0px 0px 0.8em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.8em 0px var(--glow-color),
        0px 0px 0.8em 0px var(--glow-color);
    animation: border-flicker 4s linear infinite;
}

.glowing-light {
    display: inline-block;
    background-color: var(--glow-color);
    z-index: 1;
    position: absolute;
    margin-top: -370px;
    left: 900px;
    color: var(--glow-color);
    cursor: pointer;
    width: 200px;
    height: 60px;
    border: 0.2em 1 1 1 solid var(--glow-color);
    border-radius: 8px;
    background: none;
    perspective: 10em;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1em;
    /*
  -webkit-box-shadow: inset 0px 0px 0.8em 0px var(--glow-color),
    0px 0px 0.8em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.8em 0px var(--glow-color),
    0px 0px 0.8em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.8em 0px var(--glow-color),
    0px 0px 0.8em 0px var(--glow-color);*/
    animation: border-flicker 4s linear infinite;
}

.glowing-light::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    border-radius: 200px;
    filter: blur(1em);
    transform: translateY(220px) rotateX(95deg) scale(1.2, 1.8);
    background: var(--glow-color);
    pointer-events: none;
}

/*.glowing-light::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 4em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
  opacity: 0.6;
  filter: blur(1em);
  transform: translateY(-50%) rotateX(95deg) scale(2, 2);
  background: var(--glow-color);
  pointer-events: none;
}*/
.glowing-txt {

    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 6s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 4s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    filter: blur(1em);
    transform: translateY(66%) rotateX(95deg) scale(1.5, 0.5);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 4em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
    opacity: 0.4;
    filter: blur(1em);
    transform: translateY(-100%) rotateX(95deg) scale(1.5, -0.5);
    background: var(--glow-color);
    pointer-events: none;
}

*/ .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
    }
}

.shadow {
    filter: drop-shadow(0px 0px 4px hsl(0, 0%, 0%));


}

#gitbio {
    margin-left: 1400px;
}

.step {
    color: aliceblue;
}

.floor {
    color: red
}