.icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url("./../img/iconsleft.png");
    filter: drop-shadow(0px 0px 6px white);


}

.pintaricon {
    background-position-x: -72px;
}

.pickericon {
    background-position-x: 0px;
}

.coresicon {
    background-position-x: -324px;
}

.lixeiraicon {
    background-position-x: -288px;
}

.erasericon {
    background-position-x: -36px;
}

.clipboardicon {
    background-position-x: -108px;
}

.zoomicon {
    background-position-x: -144px;
}

.selecticon {
    background-position-x: -396px;
}

.filmicon {
    background-position-x: -360px;
}

.backicon {
    background-position-x: -180px;
}

.playicon {
    background-position-x: -216px;
}

.nexticon {
    background-position-x: -252px;
}