.icon {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    background-image: url("./../img/iconsleft.png");
    filter: drop-shadow(0px 0px 1px white);
}

.iconsmall {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url("./../img/iconsleft.png");
    filter: drop-shadow(0px 0px 1px white);
    transform: scale(0.6);
    margin-bottom: -10px;
    margin-top: -10px;
}

.pickericon {
    background-position-x: 0px;
}

.eraseicon {
    background-position-x: -36px;
}

.pintaricon {
    background-position-x: -72px;
}

.clipboardicon {
    background-position-x: -108px;
}

.zoomicon {
    background-position-x: -144px;
}

.backicon {
    background-position-x: -180px;
}

.playicon {
    background-position-x: -216px;
}

.nexticon {
    background-position-x: -252px;
}

.lixeiraicon {
    background-position-x: -288px;
}

.coresicon {
    background-position-x: -324px;
}

.filmicon {
    background-position-x: -360px;
}

.selecticon {
    background-position-x: -396px;
}

.stopicon {
    background-position-x: -432px;
}

.custombrushicon {
    background-position-x: -468px;
}

.dinamicbrushicon {
    background-position-x: -504px;
}

.infinityicon {
    background-position-x: -540px;
}

.mandalaicon {
    background-position-x: -576px;
}

.mirroricon {
    background-position-x: -612px;
}

.addframeicon {
    background-position-x: -648px;
}

.configtimeicon {
    background-position-x: -684px;
}

.ghosticon {
    background-position-x: -720px;
}

.swaplefticon {
    background-position-x: -756px;
}

.swaprighticon {
    background-position-x: -792px;
}

.cloneframeicon {
    background-position-x: -828px;
}

.pinicon {
    background-position-x: -864px;
}

.plusicon {
    background-position-x: -900px;
}

.minusicon {
    background-position-x: -936px;
}

.projecticon {
    background-position-x: -972px;
}

.copyicon {
    background-position-x: -1008px
}

.cuticon {
    background-position-x: -1044px
}

.pasteicon {
    background-position-x: -1080px
}

.infoicon {
    background-position-x: -1116px
}

.ctrlicon {
    background-position-x: -1152px
}

.alticon {
    background-position-x: -1188px
}

.alerticon {
    background-position-x: -1224px
}

.recicon {
    background-position-x: -1260px
}

.selfieicon {
    background-position-x: -1296px
}

.changecam1 {
    background-position-x: -1332px
}

.changecam2 {
    background-position-x: -1368px
}

.camconfigicon {
    background-position-x: -1404px
}

.icon2 {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    background-image: url("./../img/icon2.png");
    filter: drop-shadow(0px 0px 1px white);

}

.cropicon {
    background-position-x: 0px;
}

.moveicon {
    background-position-x: -36px;
}

.rotateicon {
    background-position-x: -72px;
}

.scaleicon {
    background-position-x: -108px;
}

.fxicon {
    background-position-x: -144px;
}

.cameraicon {
    background-position-x: -180px;
}

.nighticon {
    background-position-x: -216px;
}

.undoicon {
    background-position-x: -252px;
}

.redoicon {
    background-position-x: -288px;
}

.saveicon {
    background-position-x: -324px;
}

.helpicon {
    background-position-x: -360px;
}

.foldericon {
    background-position-x: -396px;
}

.frameicon {
    background-position-x: -432px;
}

.yogaicon {
    background-position-x: -468px;
}

.animationframeicon {
    background-position-x: -504px;
}

.paintovericon {
    background-position-x: -540px;
}

.paintundericon {
    background-position-x: -576px;
}

.lefticon {
    background-position-x: -612px;
}

.upicon {
    background-position-x: -648px;
}

.downicon {
    background-position-x: -684px;
}

.righticon {
    background-position-x: -720px;
}

.rainbowicon {
    background-position-x: -756px;
}

.glowicon {
    background-position-x: -792px;
}

.bucketicon {
    background-position-x: -828px;
}

.numbericon {
    background-position-x: -864px;
}

.swapicon {
    background-position-x: -900px;
}

.bricon {
    background-position-x: -936px;
}

.enicon {
    background-position-x: -972px;
}

.lightofficon {
    background-position-x: -1008px;
}

.icon2small {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url("./../img/icon2.png");
    filter: drop-shadow(0px 0px 6px white);
    transform: scale(0.6);
    margin-bottom: -10px;
    margin-top: -10px;


}

.hueicon {
    background-position-x: -1044px;
}

.brightnessicon {
    background-position-x: -1080px;
}

.contrasticon {
    background-position-x: -1116px;
}

.alphaicon {
    background-position-x: -1152px;
}

.sharpnessicon {
    background-position-x: -1188px;
}

.invert {
    background-position-x: -1224px;
}

.blur {
    background-position-x: -1260px;
}

.grayscale {
    background-position-x: -1296px;
}

.sepia {
    background-position-x: -1332px;
}

.contrast {
    background-position-x: -1368px;
}

.brightness {
    background-position-x: -1404px;
}

.lumakey {
    background-position-x: -1440px;
}

.hue-rotate {
    background-position-x: -1476px;
}

.check {
    background-position-x: -1512px;
}

.minicheck {
    background-position-x: -1548px;
}