* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    text-align: center;
    background-color: #dddddd;
    /* background-image: url("img/grid.png");
    background-repeat: repeat;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    min-height: 100vh;
}

.day {
    background-color: #eeeeeeee;
    color: #000000;
}

.night {
    background-color: #222222dd;
    color: #eeeeee;
}

.shadow {
    border-radius: 8px;
    margin: 4px;
    box-shadow: 2px 2px 3px #51505488,
        -1px -2px 3px #9d9ca288;
}

#foto {
    width: 320px;
    max-width: 320px;
    display: inline-flex;
    margin-right: 20px;
    margin-left: 10px;
}

#galeria {
    width: 230px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    overflow-x: scroll;

}

#info_area {
    width: 260px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    overflow-y: scroll;
}

.mini {
    width: 60px;
    height: 60px;
    margin: 0px 0px 8px 4px;
    border-radius: 12px;
    display: inline-block;

}

.borderless {
    border: 0px;
    border-style: none;
    margin: 6px;
}

.bot {
    border-radius: 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 4px;
    height: 34px;
    width: 34px;
    font-size: 32px;
    display: inline-block;
    position: relative;
    background-color: #222222cc;
    line-height: 34px;
    vertical-align: middle;
    text-align: center;
    text-shadow: -1px 0 #eeeeee66, 0 1px #eeeeee66, 1px 0 #eeeeee66, 0 -1px #eeeeee66;
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }

    ;


}

a,
a:visited {
    /*text-decoration: none;
    height: 32px;*/
    color: rgb(190, 50, 100);
}

#cabeca {
    margin-top: 0px;
    margin-bottom: 4px;
    display: block;
    float: right;
    position: fixed;
    left: 2px;
    bottom: 0px;
    z-index: 300;
}

.confirm {
    display: block;
    position: absolute;
    width: 280px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5000;
    left: 15%;
    right: 25%;
    top: 25%;
    padding: 10px;
    border-radius: 8px;
    line-height: 1.5em;
    text-align: center;
    z-index: 3000;
}

#conteudo {
    border-radius: 8px;
    min-width: 304px;
    max-width: 320px;
    min-height: 320px;
    padding: 12px;
    text-align: justify;
    font-size: small;
    align-items: initial;
    position: absolute;
    left: 8px;
    top: 8px;

    z-index: 3000;
}

#corpo {
    display: inline;
    width: 100%;
}

#legenda {
    display: block;
    font-size: small;
    font-weight: bold;
    text-align: justify;
    padding: 0px;
    width: 96%;
    text-align: center;
    margin: 0px 4px 4px 4px;

    text-shadow: -1px 0 #eeeeee66, 0 1px #eeeeee66, 1px 0 #eeeeee66, 0 -1px #eeeeee66;
    background-color: #eeeeee;
    border-radius: 8px;
}

.moldura {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    vertical-align: top;
    /*  border: red 1px dashed;*/
}

#bio {
    font-size: small;
    padding: 4px;
    color: black;
    background-color: #dfb000;
    border: black 4px dashed;

}

#bio2 {
    font-size: small;
    padding: 8px;
    margin: auto;
    color: white;
    background-color: black;
    border: #dfb000 4px dashed;
    border-radius: 8px;
}

#djs {
    background-image: url("../img/logo.png");
    background-size: 34px 34px;
}

#anime {
    background-size: 34px 34px;
    animation: animatezoom 0.6s
}

.entra {}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#apoio {
    color: black;
}

#blog {
    display: block;
    line-height: 18px;
    color: #333333;
    background-color: #eeeeee;
    border-radius: 16px;
    padding: 20px;
    overflow-y: scroll;
    font-size: 0.8em;
    text-align: justify;
}

h6 {
    margin: 8px;
}

h2 {
    margin-bottom: 4px;
    margin-top: 14px
}

#section {
    display: block;
    position: absolute;
    width: 1860px;
    height: 1080px;
    z-index: 3;
    left: 80px;
}

.bloco {
    width: 320px;
    height: 320px;
    display: block;
    opacity: 90%;
    position: absolute;
    top: 64px;
    left: 80px;
    z-index: 5;
}

#container {
    display: block;
    position: absolute;
    width: 360px;
    height: 640px;
    overflow: scroll;
    background-color: #000000;
    font-family: ubuntu;
}


#versoes {
    display: block;
    width: auto;
    height: 130px;
    overflow: scroll;
}

.blink {
    border: 1px #cccccc solid;
    background-color: #bbbbbb
}

#gitbio {
    padding: 0px 10px 10px 10px;
    background-color: #333;
    font-size: 0.9em;
    font-weight: 600;
    color: #dfb000;
}

.carregandoc {
    display: block;
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    animation: animatezoom 0.6s;
}