body {
    background-color: darkslategray;
    margin-top: 0px;
    margin-left: 0px;
}

#canvas {
    border: 1px solid black;
    touch-action: none;
}

.bot {
    border-radius: 20px;
    margin-left: 2px;
    margin-right: 3px;
    margin-bottom: 4px;
    height: 34px;
    width: 34px;
    font-size: 28px;
    display: inline-block;
    position: relative;
    background-color: #4f45108e;
    line-height: 34px;
    vertical-align: middle;
    text-align: center;
    text-shadow: -1px 0 #eeeeee66, 0 1px #eeeeee66, 1px 0 #eeeeee66, 0 -1px #eeeeee66;
    animation: animatezoom 0.6s
}

.shadow {
    border-radius: 8px;
    margin: 4px;
    box-shadow: 2px 2px 3px #51505488,
        -1px -2px 3px #9d9ca288;
}

#cabeca {

    display: block;
    float: right;
    position: fixed;
    left: 2px;
    bottom: 20px;
    z-index: 300;
}
.selected {
    background-color: #00000044;
    border-color: #ffffff55;
    border-width: 3px;
    font-size: 3em;
    padding-right: 8px;
}
.submenu {
    position: absolute;
    display: block;
    width: 330px;
    min-height: 60px;
    padding: 6px;
    z-index: 501;
   /* visibility: hidden;*/
    max-height: 320px;
    overflow-y: scroll;
    bottom: 48px;
    left: 10px;

}